{% extends 'base.html' %}
{% block content %}
<br>
<br>
<br>
<body style="background-color:powderblue;">
    <div class="card" style="margin-left:1%">
        
        <div class="container">
             <center><h1 class="text-uppercase">{{id}}</h1></center>
            <div class="card">
                <div class="col-9">
                    {% for article in articles %}

                    <div class="col-md-4" style="border-style: outset;">
                        <img class="card" src="{{article.urlToImage}}" alt="Card image cap" width="300px" height="250px" margin-right="500px">
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{article.author}}</strong></h5>
                            <p class="card-text">{{article.description}}</p>
                            <a href="{{article.url}}">

                            <button type="button" class="btn btn-primary">View Full Story</button>
                            </a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Article date:{{article.publishedAt}}</small>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
  
</body>
{% endblock %}