{% extends 'base.html'%}
{% block content %}


<body>
    <div class="container">
        <h1>Welcome to Mambo Leo News</h1>
        <div class="col-md-12">
            <div class="card-header">
                <h2>Browse News Sources</h2>
            </div>
            <div class="list-group list-group-flush scrolly">
                <ul>
                    {% for source in sources %}
                    <h1><a href="/article/{{source.id}}">
                        <p class="text-capitalize text-bold">{{source.id}}</p>
                    </a></h1>
                    <h3>{{source.description}}</h3>

                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</body>

{% endblock %}